*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.gradle/
/.idea/
/app/proguard-rules.pro
/app/build/
/gradle.properties
/gradlew
/gradle/
/gradlew.bat
/app/src/androidTest/
/app/src/test/
